{
  "presets": ["env", "react", "stage-2"],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "transform-decorators-legacy",
        "transform-runtime",
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": 'css' }]
      ]
    },
    "production": {
      "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": 'css' }]
      ]
    }
  }
}